# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# PyTorch model weights
*.pth
*.pt

# Streamlit
.streamlit/

# Logs
logs/
*.log

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mypy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
